.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 92px 50px 96px;
}

.header_menu-list {
  display: flex;
  justify-content: left;
  gap: 12px;
  list-style: inside;
  list-style-type: circle;
  text-underline-position: under;
}

.header_menu-item-bullet {
  list-style-type: none;
}

.header_menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header_menu-link-active {
  text-decoration: none;
}

.top_logo {
  display: flex;
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  color: black;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}

.header_address {
  justify-self: end;
  padding-right: 34px;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned_text {
  display: block;
}

.aligned_text-center {
  margin-top: 19px;
  text-align: center;
}

.aligned_text-right {
  margin-top: 19px;
  text-align: right;
}

.no_letter-spacing {
  letter-spacing: 0px;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 107px;
}

.cover_description-text {
  z-index: 1;
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.letter_spacing-extended {
  word-spacing: 19px;
}

.bet_button {
  display: flex;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 180px 24px 120px;
}

.lots_heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots_look-more-link {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "logo title"
    ". about_text";
  justify-items: center;
  align-items: center;
  margin: 0px 24px 157px;
  padding-top: 35px;
}

.about_logo {
  display: flex;
  flex-wrap: wrap;
  grid-area: logo;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about_logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
}

.about_title {
  grid-area: title;
  justify-self: start;
  padding-left: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about_text {
  grid-area: about_text;
  padding: 0px;
  padding-left: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about_text-indent {
  padding: 8px 16px 25px 0px;
}

.about_text-no-indent {
  padding: 0px 7px 0px 0px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 50px 82px;
}

.footer_address {
  justify-self: left;
}

.footer_menu-list {
  justify-self: center;
  text-align: center;
  list-style: none;
}

.footer_menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-underline-position: under;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  justify-content: end;
  align-content: start;
  gap: 48px;
  list-style: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
